{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>DANIPEDIA</title>
    
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container mt-4">
        <div class="d-flex align-items-center mb-4">
            <h1 class="mr-3">DANIPEDIA</h1>
        </div>
        <div>
            <h2 class="h4">Vista Principal</h2>
            <div class="form-inline mb-4">
                <input type="text" placeholder="Buscar..." class="form-control mr-sm-2 w-75">
                <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
            </div>
            <h3>Temas</h3>
            <ul class="list-unstyled">
                {% for tema in temas %}
                    <li>
                        <a href="{% url 'articulos_por_tema' tema.id %}">{{ tema.nombre }}</a>
                        <p>{{ tema.descripcion }}</p> <!-- Mostrar la descripción del tema -->
                    </li>
                {% endfor %}
            </ul>
            <div class="d-flex">
                <a href="{% url 'crear_nuevo_tema' %}" class="btn btn-dark mr-2">Crear nuevo tema</a>
                <a href="{% url 'crear_nuevo_articulo' %}" class="btn btn-dark">Crear nuevo artículo</a>
            </div>
        </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

